

body {
    background-image: url(Images/image10.png);
    background-repeat: space;
}

h1 {
    color: red;
}
h1,h2,h3,h4,h5,h6 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.p-right {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    float: right; 
    width: 500px;
    box-shadow: 2px 2px #000000;
    background-color: #fff;
    padding: 10px;
}
.p-left {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    float: left; 
    width: 500px;
    box-shadow: 2px 2px #000000;
    background-color: #fff;
    padding: 10px;
}
.sample {
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: auto;
}
.pic {
    height: 300px;
}
.social {
    height: 40px;
}
footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 10px;
}
@media (max-width: 1000px) {
    .pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
        
    }
}

